{% extends "base.html" %}
{% block title %}Postlar{% endblock title %}
{% block content %}
<div style="margin-top: 70px;">
{% for article in object_list %}
<div class="card" style="border-radius:12px;width: 35rem; margin-left: 500px; margin-right:500px;margin-bottom:10px;">
  {% if article.photo %}
  <img class="card-img-top" src="{{article.photo.url}}" alt="{{article.author}}">
  {% endif %}
  <div class="card-body">
   {% if article.body %} {{article.body|slice:"100"}} ... {% endif %}
<a href="{% url 'article_detail' article.pk %}">batafsil</a>
  </div>
  <div class="card-footer text-left text-muted">
    <span class="text-muted">Muallif: {{article.author}} | {{article.date}}</span>
  </div>
  </div>
{% endfor %}
</div>
{% endblock content %}